button {
  width: 4rem;
  height: 4rem;
  margin: 0.25rem;
  background-color: grey;
  border: 1px solid black;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: #fff;
  }
}
.btn__wider {
  width: 9.25rem;
  height: 4rem;
}
.btn__higher {
  width: 4rem;
  height: 8.5rem;
}
