.display {
  height: 7rem;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0 1rem;
  background-color: lightgrey;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 2rem;
  box-sizing: border-box;
}
